<table class="table is-striped is-bordered is-narrow is-hoverable is-fullwidth nowrap" style="width:50%">
    <tbody>    
        <tr>
            <td>Web Hostname</td>
            <td><?php echo gethostname(); ?></td>
        </tr>
        <tr>
            <td>App Hostname</td>
            <td><?php echo $appHostname; ?></td>
        </tr>
        <tr>
            <td>IP Address</td>
            <td><?php echo $_SERVER['SERVER_ADDR']; ?></td>
        </tr>
        <tr>
            <td>API Endpoint</td>
            <td><?php echo $apiEndpoint; ?></td>
        </tr>
    </tbody>
</table>
